.servicelinks {
  ul {
    list-style: none;
  }

  li {
    float: right;
  }

}

.ep-header-links {
  background: transparent url("assets/img/bg-header.jpg");
  border-radius: 12px 12px 0px 0px;
}

.navbar-ep-main {
  position: relative;
  min-height: 50px;
  padding-top: 10px;
  color: #cdcae9;

  .navbar-brand {
    color: #cdcae9;
    padding: 10px 0px;
  }
  .navbar-brand:hover,
  .navbar-brand:focus {
    color: #fafae8;
    background-color: transparent;
  }
  .navbar-nav > li > a {
    color: #fafae8;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: #cdcae9;
    background-color: transparent;
  }
}

.ep-header-topics {
  background: transparent url("assets/img/bg-topics.jpg");
}

.navbar-ep-topics {
  position: relative;
  color: #cdcae9;

  .navbar-brand {
    padding: 13px 0px;
    color: #444;
  }
  .navbar-brand:hover,
  .navbar-brand:focus {
    color: #444;
    background-color: transparent;
  }
  .navbar-nav > li > a {
    color: #444;
  }
  .navbar-nav > li > a:hover,
  .navbar-nav > li > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}

.art-gallery{

}