html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body;
    background-image: url("assets/img/body-bg.png");
    background-attachment: fixed;
}

.container {
  background-color: $color__background-container;
  border-radius: 12px 12px 12px 12px;
}

@import "content-sidebar";
// @import "sidebar-content";


/*--------------------------------------------------------------
## Single Column / No Active Sidebar
--------------------------------------------------------------*/
.no-sidebar .site-main {
  margin: 0;
}

.no-sidebar .content-area {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
## Posts
--------------------------------------------------------------*/
@import "posts";

/*--------------------------------------------------------------
## Pages
--------------------------------------------------------------*/
@import "pages";
