@import "../components/navigation-top";

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
.menu-item {
	background: url('assets/img/moon-icon.png') no-repeat scroll 0 1px transparent;
	padding: 4px 0px 4px 0px;
	margin: 6px auto;
}
.menu-item a {
	margin: 0px 0px 0px 30px;
}
.widget_nav_menu ul {
	list-style: none;
	padding: 0;
}